<div class="container" style="background-color:rgba(255,255,255,.6)">
  
  <!-- Title Row -->
  <div class="sixteen columns">
    <h2 class="remove-bottom" style="margin-top: 40px"><strong><%=@video.title%></strong></h2>
    <h4>Category: <%=@term%></h4>
    <%= link_to "Back", :back, class: "button" %>
    <hr />
  </div>

  <!-- Video Row -->
  <div class="five columns">
    <h3>The Video</h3>
    <p><em>Straight from the YouTube source</em></p>
  </div>

  <div class="eleven columns">
    <iframe src="<%=@video.embed_url%>" width="100%" height="350px" class="add-bottom"></iframe>
  </div>
  
  <!-- Divider -->
  <div class="sixteen columns">
    <hr />
  </div>
  
  <!-- Rankings and Social Stats Row -->
  <div class="eight columns">
    <h3>Rankings</h3>
    <p><em>Relative rank for category in given country</em></p>
    <ul class="square">
      <% @countries.each do |country| %>
      <% vids = country.videos.where(term: @term) %>
      <% rank = vids.index(@video) %>
      <li>
        <strong>#<%= rank+1 %> <%=@term.downcase%> video in <%= country.name.downcase.capitalize%></strong>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="eight columns">
    <h3>Social Stats</h3>
    <p><em>Courtesy of SharedCount.com</em></p>
    <ul class="square">
      <li><%= @shared[:commentcount] %> <strong>Facebook comments</strong></li>
      <li><%= @shared[:likecount] %> <strong>Facebook likes</strong></li>
      <li><%= @shared[:sharecount] %> <strong>Facebook shares</strong></li>
      <li><%= @shared[:tweets] %> <strong>Tweets</strong></li>
      <li><%= @shared[:plus_ones] %> <strong>Google +1's</strong></li>
      <li><%= @shared[:pins] %> <strong>Pins</strong></li>
    </ul>
  </div>

</div>