
<!-- moved refactored youtube_embed method to Video model -->
<h1>Top Video Thumbnail for Each Country</h1>

<% @countries.each do |country| %>
  <h2><%= link_to country.name, country_path(country) %></h2> 
  <h2><%= link_to country.code, country_path(country) %></h2>  
  <ul>
    <li><img class="thumbnail" id="<%= country.id %>" src="<%= country.videos.first.thumbnail_url %>"></li>
<!--     <li>      
      <iframe wdith='360' height='215' src="<%= country.videos.first.youtube_embed %>"></iframe>
    </li> -->
  </ul>
<% end %>


