<h1><%= @country.name %>'s Top Videos</h1>
<h4>Population: <%= @country.population %></h4>

<ol>
  <% @country.videos.each do |video| %>
    <li>
      <iframe wdith='360' height='215' src="<%= video.youtube_embed %>"></iframe>
      <p>Category: <%= video.term %></p>
      <p>
        <% names = video.country_names(@country.name) %>
        <% if names.any? %>
          Also popular in: 
          <% names.each do |name| %>
            <%= link_to name, country_path(Country.find_by_name(name)) %>
          <% end %>
        <% else %>
          Not popular in other countries
        <% end %>
      </p>
      
    </li>
  <% end %>
</ol>

<p>See more popular videos in <%= @country.name %>:
  <a href=''>News</a>
  <a href=''>Comedy</a>
  <a href=''>Entertainment</a>
  <a href=''>All</a>
</p>